<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="/static/css/brfv4_examples_theme.css">
	<title>Face Tracking by Bottle</title>

	<script src="/static/js/libs/createjs/preloadjs.min.js"></script>
	<script src="/static/js/BRFv4Demo.js"></script>

	<script>
		window.onload = brfv4Example.start; 
	</script>
	<style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; }
	</style>

</head>


<body>
<div id="results">Your captured image will appear here...</div>

<div id="my_camera" style="display: none"></div>

<!-- First, include the Webcam.js JavaScript Library -->
<script type="text/javascript" src="/static/js/utils/webcam.min.js"></script>

<!-- Configure a few settings and attach camera -->
<script language="JavaScript">
	Webcam.set({
		width: 320,
		height: 240,
		image_format: 'jpeg',
		jpeg_quality: 90
	});
	Webcam.attach( '#my_camera' );
</script>

<!-- A button for taking snaps -->
<form>
	<input type=button value="Take Snapshot" onClick="take_snapshot()">
</form>

<!-- Code to handle taking the snapshot and displaying it locally -->
<script language="JavaScript">
	function ShowCam() {
    Webcam.set({
        width: 320,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 100
    });
    Webcam.attach('#my_camera');
}
window.onload= ShowCam;

	function take_snapshot() {
		// take snapshot and get image data
		Webcam.snap( function(data_uri) {
			// display results in page
			document.getElementById('results').innerHTML =
					'<h2>Here is your image:</h2>' +
					'<img src="'+data_uri+'"/>';
	}

	function upload() {
    console.log("Uploading...")
    var image = document.getElementById('image').src;
    var form = document.getElementById('myForm');
    var formData = new FormData(form);
    formData.append("file", image);
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/photo");

    // check when state changes, 
    xmlhttp.onreadystatechange = function() {

    if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        alert(xmlhttp.responseText);
        }
    }

    xmlhttp.send(formData);
    console.log(formData.get('file'));
    console.log(formData.get('userID'));
}
</script>

<div id = "content1">
			<h2 align="center">Face Map</h2>
			<p align= "center">Facial Tracking by Bottle </p>
			<div>
				<video id="videoel" width="400" height="300" preload="auto" loop playsinline autoplay>
				</video>
				<canvas id="overlay" width="400" height="300"></canvas>

	</div>
	
	<div id = "_content">
		<video  id="_webcam" playsinline></video>
		<canvas id="_imageData"></canvas>
		<canvas id="_faceSub"></canvas>
		<canvas id="_t3d"></canvas>
		<canvas id="_f3d"></canvas>
		<canvas id="_drawing"></canvas>
		<div id="_stats"></div>
		<div id="_progressBar"></div>

	</div>
	
<div>
	<form  method="POST" action="/index" enctype="multipart/form-data">
    <p22>Register: </p22> </br>
    <p>Username: <input type="text" name="name"> </p>
    <p>Email: <input type="text" name="email"> </p>
    <p>Contact: <input type ="text" name ="contact"> </p>
    <p>Location: <input type ="text" name ="location"> </p>
    <p>Image: <input type=file name="photo"> </p> 


        <input type="Submit" value="Submit" > </br> </br>
    <p23> Already a member? 
        <a href="login">Click to Login </a> 
    </p23>
</form>
</div>


</body>
</html>